@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixins;

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 1rem;

  @include vars.themify(vars.$themes) {
    background-color: vars.themed("bg");
    color: vars.themed("text");
  }

  &__title {
    font-family: vars.$font_family-body;
    font-size: vars.$font_size-header;
    margin: 0 0 2rem;

    @include vars.themify(vars.$themes) {
      color: vars.themed("brand");
    }
  }

  // Shared styling for all sections
  &__section {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Specific sections can inherit from __section
  &__categories {
    @extend .settings__section;
  }

  &__general {
    @extend .settings__section;
  }

  // Shared styling for all section titles
  &__section-title {
    font-family: vars.$font_family-body;
    font-size: vars.$font_size-subheader;
    margin-bottom: 1rem;

    @include vars.themify(vars.$themes) {
      color: vars.themed("text");
    }
  }

  // Specific titles can inherit from __section-title
  &__category-title {
    @extend .settings__section-title;
  }

  &__general-title {
    @extend .settings__section-title;
  }

  &__option {
    padding: 1rem;
    border-radius: 64px;
    margin-bottom: 1rem;
    transition: background-color 0.2s ease;

    @include vars.themify(vars.$themes) {
      background-color: vars.themed("surface");
    }
  }
}
