$color-brand: #4d861f;
$color-text: #404040;
$color-accent: #c5c5c5;
$color-bg: #ffffff;
$color-delete: #ff5d5d;

//Colors for darkmode
$theme_dark-bg: #222222;
$theme_dark-text: #d9d9d9;

//Font sizes
$font_size-title: 38px;
$font_size-header: 32px;
$font_size-subheader: 24px;
$font_size-description: 18px;
$font_size-description-small: 16px;
$font_size-button: 16px;

//Font families
$font_family-heading: "Playfair Display Variable", serif;
$font_family-body: "Open Sans Variable", sans-serif;
